<a href="https://colab.research.google.com/github/JoYongJIn/YongJin-Repository/blob/main/%EC%A0%84%EC%82%B0%EC%88%98%ED%95%99_class4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
================================
집합  자료형: 중복 불허용, 순서가 없음
================================
'''
# 리스트, 튜플, 문자열 => 집합
s1 = set([1,2,3]) #set 하면 집합된다.
print(s1)
s2 = set('hello') #{'e', 'l', 'h', 'o'}
print(s2)

# set => 리스트/튜플 (집합을 리스트나 튜플로 바꾸기)
l1= list(s1)
print(l1)
t1 = tuple(s1)
print(t1)

# 교집합, 합집합, 차집합
s1 = set([1,2,3,4,5,6,7])
s2 = set([4,5,6,7,8,9])
print(s1&s2) # 교집합 기호 (&)
print(s1.intersection(s2)) #{4, 5, 6, 7}

print(s1| s2) #합집합 shift+역슬레쉬 or에 해당함
print(s1.union(s2)) #{1, 2, 3, 4, 5, 6, 7, 8, 9}

print(s1-s2) #차집합 {1, 2, 3}
print(s2-s1) #{8, 9}
print(s1.difference(s2))
print(s2.difference(s1))

# 추가/제거
s1 = set([1,2,3])
s1.add(4) #요소 하나만 추가할때는 add vs 여러개를 추가하고시플때 update
print(s1)

s1.update([4,5]) #(),{},[]모든기호로 가능 기호상관없다.
print(s1)
s1.remove(2)
print(s1)
## Exercise===================
# 1. a={'A':90, 'B':80, 'C':70}에서 'B'에 해당하는 값 추출하기 ->딕셔너리문제
a={'A':90, 'B':80, 'C':70}
b=a['B']
# 2. a=[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]에서 중복 숫자 제거하고 출력하기
a=[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
s1=set([1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5])
print(s1)
l1=list(s1)
print(l1)
l1.reverse()
print(l1)


'''
================================
변수를 만드는 여러가지 방법
================================
'''
a, b =('python', 'life')

In [ ]:
'''
================================
불  자료형: 참(true), 거짓(false)
================================
'''
print(1==1) #1과1이 같은가
print(2>1)
print(2<1)

a=[1,2,3,4] #트루인 동안에만 실행된다.
while a:
  a.pop()
  print(a)

if [1,2,3]: #공집합이아니므로 true
  print('true')
else:
  print('false')

if []: #공집합이아니므로 true 이것은은false이므로 else를 실행한다.
  print('true')
else:
  print('false')

In [ ]:
'''
================================
변수를 만드는 여러가지 방법
================================
'''
a, b =('python', 'life')
a, b ='python', 'life'
(a,b) ='python', 'life'
[a,b] = ['python', 'life']

a=b='python'
print(a)

a,b,c,d,e=2,4,'hi','a',5 #하나하나대응된다

a=3;b=5
a,b=b,a
print(a)

python
5